.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.spinner>img{
  margin-top: 100px;
  background-image: url("../img/logoAS.png");
}

#userTable{
  margin-top: 30px;
}

.dataTables_filter{
  padding-bottom: 4px;
}

.dataTables_filter>.exportButton{
  display: inline-block;
  margin-left: 20px;
}

table.adTable {
  border-collapse: collapse;
  margin:0 auto;
  width: 85%;
}

table.adTable,.adTable th,.adTable td {
  border: 1px solid black;
  padding-left: 8px;
  padding-right: 8px;
}

.adTable th{
  background-color:#ccffcc;
  text-align: center;
}

.adTable td{
	text-align:center;
	padding-top: 6px;
	padding-bottom: 3px;
}

table.adTable tr:nth-child(even){
	background-color:#f3e6ff;
}

.panel-body p{
  border-bottom: thin solid #ddd;
  padding-bottom: 3px;
  text-align: left;
}

.panelIcons>p{
  padding-bottom: 9px;
  padding-top: 9px;
}

.panelIcons .clipBtn{
  float: right;
  margin-top: -9px;
  padding-left: 5px;
  padding-right: 5px;
  width: 45px;
}

.secIcon{
  padding-left: 8px;
  padding-right: 8px;
}

.colaboList>li, #collegues li{
  text-align: left;
}

/* Adding icons and cursor to the table headers */
.sorting_desc, .sorting_asc, .sorting{
  cursor: pointer;
  cursor: hand;
}

.sorting_desc::after{
  font-family: 'Glyphicons Halflings';
  content:"\00a0 \e093";
  font-size: 10px;
}

.sorting_asc::after{
  font-family: 'Glyphicons Halflings';
  content:"\00a0 \e094";
  font-size: 10px;
}

/*------------------*/
@media(min-width:992px){
  .equal {
    margin-top: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .equal div[class*='col-'] {
    flex:1 1 auto;
    display: flex;
  }
  .equal .panel {
    flex:1 0 100%;

  }
}

/*----------------------------*/
/*--- CSS For login panel ---*/
/* http://bootsnipp.com/snippets/nP9Gn */
#login-dp, #logedin-dp{
    min-width: 350px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block, , #logedin-dp .help-block{
    font-size:12px
}
#login-dp .bottom, , #logedin-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp, , #logedin-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom, , #logedin-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
